<%include partials/adminHeader%>
<!--<span id="hidden-pieValueCompleted"><%=JSON.stringify(requests)%></span>-->
<style>
    .list-group-item {
        border: none;
    }
    .form-head {
        text-transform: uppercase;
        font-weight: 600;
        margin-right: 5px;
        font-size: 25px;
        color: rgba(0,0,0,0.8);
    }

    .d-flex {
        color: rgb(51,51,51);
        font-size: 16px;
    }
</style>
<span style="display: none;" id="hidden-pieValueNotCompleted"></span>
<div class="animated fadeIn">
  <br/>
  <h3 style="text-transform: uppercase; text-align: center;">admin Dashboard</h3>
  <br/>
    <!-- Widgets  -->

    <!-- /Widgets -->

<% if(requests.length>0){ %>
    <br/>
    <h3 style="text-transform: uppercase;">Pending Requests</h3>
    <br/>
<div class="row text-center">
        <div class="col-lg-12 col-md-12">
            <div class="">
                <div class="card-body">
                    <div class="row text-center">
                        <%for(let i=0;i<requests.length;i++){%>
                        <div class="col-lg-4 ">
                            <div class="card">
                                <div class="card-header">
                                    <div style="padding: 10px; justify-content: space-between;">
                                        <b class="top-pad">
                                            <div class="form-head"><%=requests[i].workflowId.name%></div>
                                        </b>
                                        <!--<div class="circle">712</div>-->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <div class="d-flex">
                                                <div style="padding-left: 10px;">
                                                    <i class="fa fa-calendar"></i> <span style="margin-left: 3px;">Applied by: </span>
                                                </div>
                                                <div class="flex-grow-1 approver">
                                                    <span class="pull-center r-activity">
                                                        <%=requests[i].ownerId.name%>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="d-flex">
                                                <div style="padding-left: 10px;">
                                                    <i class="fa fa-calendar"></i> <span style="margin-left: 3px;">Due date: </span>
                                                </div>
                                                <div class="flex-grow-1 approver">
                                                    <span class="pull-center r-activity" style="color:#3694F7">
                                                        05/08/2020
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                </ul>
                                </div>
                                <div class="row text-center" style="margin-top: 10px; margin-bottom: 20px;">
                                    <div class="col-lg-6"><a
                                        href="/request/approve/<%=requests[i]._id%>"
                                        class="btn btn-success" style="margin: 10px">Approve and Sign</a>
                                    </div>
                                    <div class="col-lg-6"><a
                                        href="/request/reject/<%=requests[i]._id%>"
                                        class="btn btn-danger" style="margin: 10px">Reject</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <% } %>
      <div class = "row text-center">
        <div class="container">
                <div class="card-body">
                  <div class="btn-group text-center">
                    <a id="btnNewForm" class="btn btn-block btn-md" style="background-color:#0da2ff; color:white;" href="/workflow/create">Create a New Form</a>
                    <br>
                    <br>
                    <a id="btnEditWorkflow" class="btn btn-info btn-block btn-md" style="background-color:#0da2ff; color:white;" href="/workflow/edit">Edit an existing workflow of a form</a>
                </div>
              </div>
        </div>
    </div>
</div>
<script>
jQuery(document).ready(function($) {
            "use strict";

           //Traffic chart chart-js  End
            // Traffic Chart using chartist End
    function approveClickHandler() {
        console.log("remind Clicked!")
        // this formID should send a reminder to its next approver. Priority 1
    }
    function rejectClickHandler() {
        console.log("withdraw Clicked!")
        // delete this formID from all tables. Priority 3
    }
</script>
<%include partials/footer%>
