<%include ./partials/header%>
<div class="card card-body alt bg-dark" style="color: rgb(223, 219, 219);">
    <h1 class="text-center display-2"><%=user.username.toUpperCase()%></h1>
    <ul class="list-group ml-auto mr-auto text-center pb-4" style="width: 50%;">
        <li class="list-group-item" style="font-size: 1.2rem; background-color: #000;">College: <%=user.college%></li>
        <li class="list-group-item" style="font-size: 1.2rem; background-color: #000;">Branch: <%=user.branch%></li>
        <li class="list-group-item" style="font-size: 1.2rem; background-color: #000;">Year of study: <%=user.year%></li>
    </ul>
    <%if(user.resume){%>
        <%user.resume = user.resume.substring(1)%>
        <a href="/<%=user.resume.substring(user.resume.indexOf('/') + 1)%>" class="btn btn-primary btn-lg ml-auto mr-auto" style="width: 30%;"><i class="fa fa-paper"></i>View Resume</a>
    <%}%>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body alt bg-dark">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-3">
                        <i class="pe-7s-browser"></i>
                    </div>
                    <div class="stat-content ">
                        <div class="text-left dib ">
                            <div class="stat-text" style="color: white;"><span class="count"><%=projectsOwned%></span></div>
                            <div class="stat-heading" style="color: white;">Projects created</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card alt bg-dark">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-3">
                        <i class="pe-7s-browser"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text" style="color: white;"><span class="count"><%=projectsPartOf%></span></div>
                            <div class="stat-heading" style="color: white;">Projects part of</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<%include ./partials/footer%>