<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Generated Certificate</title>
</head>
<body>
    <p style="font-size: x-small;"><%= time %></p>
    <div style="margin: 10rem">
        <h1 style="text-align: center;">Bonafide Certificate</h1>
        <p style="font-size:x-large">This is to certify that <b><%= fields[0]%></b>, S/O or D/O <b><%= fields[1] %></b> bearing Roll Number <b><%= fields[2] %></b> is a
        bonafide student of National Institute of Technology, Tiruchirappalli, pursuing
        <b><%= fields[3] %></b> in <b><%= fields[4] %></b>, currently <b><%= fields[5] %></b> year, <b><%= fields[6] %></b> semester. </p>
    </div>
    <img src="<%= qrcode %>" alt="QR Code">
    
</body>
</html>